# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# env
REACT_APP_GOOGLE_API_TOKEN = 821548657618-b90rph9toeti0k45i3fiajithticpol1.apps.googleusercontent.com
REACT_APP_SANITY_PROJECT_ID = wb0kioo5
REACT_APP_SANITY_TOKEN = skQWIfAeJKQViS6HpixEKkGbBKFZ6fthhe6nFksmpX7TELlRh5obcXfKy29DBYIpD11jGAY9W6zAmJLMUM2HK7vJLh6xaTJzQKbJItPcjCX7w90zmmuyDGNcJq79ocwlpYOw6Pt3nzicBhfzO6NBFAQTwaRAcTQs9KgtDPycRYUzE3OBmGbU

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
